.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.inputLabel {
	font-size: var(--body-lg-font-size);
	line-height: var(--body-lg-line-height);
	font-weight: var(--font-weight-bold);
	color: var(--neutral-800);
	cursor: pointer;
}

.inputRequired {
	color: var(--primary-400);
	margin-left: 4px;
}

.inputWrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.inputField {
	width: 100%;
	padding: 12px 36px 12px 16px;
	border-radius: 8px;
	font-size: var(--body-lg-font-size);
	line-height: var(--body-lg-line-height);
	font-weight: var(--font-weight-regular);
	color: var(--neutral-800);
	background-color: transparent;
	outline: 1px solid var(--neutral-400);

	&:hover {
		outline-color: var(--neutral-600);
	}
	&::placeholder {
		color: var(--neutral-600);
		opacity: 1;
	}
	&:focus {
		outline: 2px solid var(--neutral-800);
	}
}

.inputClear {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	color: var(--neutral-500);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover,
	&:focus-visible {
		color: var(--neutral-800);
	}
}
