.logo {
	width: 126px;
	height: 40px;
	&:focus-visible {
		border-radius: var(--radius-default);
		outline: 2px solid var(--base-white);
		outline-offset: 4px;
	}
}

.logoImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
