.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--base-black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 24px 12px 16px;
	box-shadow: var(--shadow-base-default);
	z-index: 10;
}
.btnHeaderLoading {
	width: 118px;
	background-color: var(--base-primary-300);
	pointer-events: none;
	&:disabled {
		background-color: var(--base-primary-300);
		cursor: not-allowed;
	}
	&:focus-visible {
		outline: none;
	}
}
.headerBtnIcon {
	width: var(--width-icon-default);
	height: var(--height-icon-default);
}

.headerGroup {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
