@import './reset.css';
@import './variables.css';

/* FONTS */
/* Source Sans 3 */
/* -- Regular */
@font-face {
	font-family: 'SourceSans3';
	src: url('./../fonts/SourceSans3-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* -- SemiBold */
@font-face {
	font-family: 'SourceSans3';
	src: url('./../fonts/SourceSans3-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* -- Bold */
@font-face {
	font-family: 'SourceSans3';
	src: url('./../fonts/SourceSans3-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	min-width: var(--min-width-display);
	font-family: var(--font-family-primary), -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
	font-size: var(--body-md-font-size);
	font-weight: var(--font-weight-regular);
	background-color: var(--neutral-0);
	color: var(--neutral-900);
	overflow-y: hidden;
}

* {
	transition: background-color var(--transition-default),
		color var(--transition-default), box-shadow var(--transition-default),
		outline-color var(--transition-default),
		border-color var(--transition-default), fill var(--transition-default),
		stroke var(--transition-default);
}
*::placeholder {
	transition: color var(--transition-default);
}
svg,
svg path {
	transition: fill var(--transition-default), stroke var(--transition-default);
}

*::after,
*::before {
	transition: width var(--transition-default), height var(--transition-default);
}
