.link {
	position: relative;
	padding: 0 2px;
	border-radius: 4px;
	color: var(--neutral-600);
	text-decoration: underline;

	&:visited {
		color: var(--neutral-600);
		text-decoration: underline;
	}
	&:hover,
	&:link {
		color: var(--neutral-800);
		text-decoration: underline;
	}
	&:focus-visible {
		outline: 2px solid var(--neutral-900);
		outline-offset: 2px;
		text-decoration: underline;
	}
}
.linkSolid {
	background-color: var(--neutral-800);
	color: var(--neutral-0);
	font-size: var(--body-md-font-size);
	line-height: var(--body-md-line-height);
	font-weight: var(--font-weight-semibold);
	padding: 8px;
	border-radius: var(--radius-default);
	box-shadow: var(--shadow-base-default);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	&:hover {
		box-shadow: var(--shadow-base-hover);
		background-color: var(--neutral-700);
	}
	&:focus-visible {
		box-shadow: var(--shadow-base-hover);
		background-color: var(--neutral-700);
		outline: 2px solid var(--neutral-900);
		outline-offset: 2px;
	}
}
